@font-face {
    font-family: "SegoeUI";
    src: url(../fonts/SegoeUI.ttf);
}
*{
    padding: 0; 
    margin: 0;
    font-family: "SegoeUI";
    font-size: 16px;
}
.ant-layout-header .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.ant-layout-header .trigger:hover {
  color: #1890ff;
}

.ant-layout-header .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}
.editable-cell {
  position: relative;
}

.editable-cell-icon,
.editable-cell-icon-check {
  cursor: pointer;
}

.editable-cell-icon {
  line-height: 14px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -7px;
  display: none;
}

td:hover .editable-cell-icon {
  display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #108ee9;
}
.table-operations {
  margin-bottom: 10px;
}
.table-operations.no-margin {
  margin-bottom: 0px;
}
.table-operations .action-btns {
  text-align: right;
}
.table-operations .head-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}
.login-wrapper {
  width: 330px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(#d84bc7, #301a3a);
  padding: 10px 23px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 4px 3px 0px rgba(158, 154, 158, 0.82);
  -moz-box-shadow: 3px 4px 3px 0px rgba(158, 154, 158, 0.82);
  box-shadow: 3px 4px 3px 0px rgba(158, 154, 158, 0.82);
}
.login-form button.login-form-button {
  background: #fff;
  color: #8a1a5bfc;
  border: none;
  font-weight: 700;
}
.login-form .ant-form-item {
  margin-bottom: 10px;
}
.login-form .ant-form-item-control {
  text-align: center;
}
.login-logo {
  text-align: center;
  width: 100px;
  margin: 20px auto;
}
.login-logo img {
  display: block;
  width: 100%;
}
.admin-user-info {
  float: right;
  margin-right: 16px;
}
.admin-user-info span {
  padding: 0 16px;
}
#isd_app .ant-layout-has-sider {
  min-height: 100vh;
}
/* #isd_app .ant-layout-sider {
  min-width: 250px!important;
  width: 250px!important;
  max-width: 250px!important;
} */
.ant-select-dropdown {
  width: initial!important;
}
.ant-card-head-title {
  
}
.isd-status-number {
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 30px;
  color: #871A57;
  font-family: Arial;
}
.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.custom-filter-dropdown input {
  width: 130px;
  margin-right: 8px;
}

.highlight {
  color: #f50;
}
.form-cap-nhat-vi-tri .ant-form-item {
  margin-bottom: 0;
}
.isd-advanced-search-form .ant-form-item {
  padding: 0 10px;
  margin-bottom: 0px;
}
.isd-advanced-search-form .ant-form-item-label {
  line-height: 20px;
}
.editable-row .ant-form-explain {
  position: absolute;
  font-size: 12px;
  margin-top: -4px;
}

.zoom-bar {
  background: #fafafa;
  border-bottom: 2px solid #828282;
  height: 40px;
  line-height: 40px;
  padding: 5px 10px;
}

.radio-label {
  background: #bdc3c7;
  box-shadow: inset -2px -2px #acb2b7;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  margin-left: 6px;
  text-align: center;
  width: 70px;
}

.radio-label > input[type=radio] {
  height: 0;
  margin: 0;
  visibility: hidden;
  width: 0;
}

.radio-label-active {
  background: #9ea4a8;
  box-shadow: none;
}

.gantt-container {
  height: 500px;
  width: 100%;
}

.message-area {
  background: #ebebeb;
  border: 1px solid #a4a4a4;
  font-family: Courier, monospace;
  height: 200px;
  overflow: auto;
  padding: 10px;
}

.message-area ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.message-area li:before {
  content: "\003e";
  padding-right: 10px;
}
.wrap-gantt-chart {
  width: 100%;
  overflow: hidden;
  height: 500px;
  position: relative;
}
.wrap-gantt-chart .loading {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
}
.wrap-gantt-chart .loading .ant-spin-spinning {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}
.gantt_cal_light {
  min-height: 280px!important;
}
.gantt_duration input {
  line-height: 1;
}
.gantt_cal_light .gantt_cal_ltitle .gantt_title {
  font-size: 16px!important;
}
