@font-face {
    font-family: "Gotham Bold";
    src: url(Fonts/Gotham-Bold.ttf);
}
*{
    padding: 0; 
    margin: 0;
    font-family: "Roboto";
    font-size: 16px;
}
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}
.editable-cell {
  position: relative;
}

.editable-cell-icon,
.editable-cell-icon-check {
  cursor: pointer;
}

.editable-cell-icon {
  line-height: 14px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -7px;
  display: none;
}

td:hover .editable-cell-icon {
  display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #108ee9;
}
.table-operations {
  margin-bottom: 10px;
}
.table-operations .action-btns {
  text-align: right;
}
.table-operations .head-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}